/**
 *  Modules - Navbar
 */
 .nav {
    &__container {
        list-style-type: none;
        padding: 0;
        display: flex;
        margin-bottom: 0;
    }
    &__item {
        padding: 0 10px;
        align-items: center;
        display: flex;
        &-link {
            display: inline-block;
            font-weight: bold;
        }
    }
}